<mat-form-field appearance="outline" class="entity-picker__field" [class.app-readonly-field]="isReadonly()">
  <mat-label>{{ label() }}</mat-label>
  @if (!isReadonly()) {
    <span matPrefix class="material-icons-outlined entity-picker__icon" aria-hidden="true">search</span>
  }
  <input matInput
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    [placeholder]="placeholder()"
    [disabled]="disabled() || isReadonly()"
    [readonly]="isReadonly()"
    (input)="onInput()"
    (blur)="markTouched()" />
  <mat-autocomplete #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="onOptionSelected($event)">
    @for (entity of results(); track entity['id']) {
      <mat-option [value]="entity">{{ getDisplayText(entity) }}</mat-option>
    }
    @if (canShowCreateNew()) {
      <mat-option [value]="CREATE_NEW_SENTINEL"
                  class="entity-picker__create-new"
                  (mousedown)="captureCreateNewTerm()">
        <span class="material-icons-outlined entity-picker__create-icon" aria-hidden="true">add</span>
        <span>{{ 'entityPicker.createNew' | translate:{ label: createNewLabel(), term: searchControl.value } }}</span>
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
