<mat-form-field appearance="outline" [class.app-readonly-field]="isReadonly()">
  <mat-label>{{ label() }}</mat-label>
  <mat-select
    [value]="value()"
    [multiple]="multiple()"
    [placeholder]="placeholder()"
    [disabled]="disabled() || isReadonly()"
    [required]="required()"
    (selectionChange)="onSelectionChange($event.value)"
    (blur)="markTouched()">
    @for (opt of options(); track opt.value) {
      <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
    }
  </mat-select>
</mat-form-field>
